{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>moon, Pybo!</title>
</head>
<body>
<!-- 내비게이션바 start -->
{% include "navbar.html" %}
<!-- 내비게이션바 end -->
<!-- 기본 템플릿 안에 삽입될 내용 start! -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 end! -->
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 시작 -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 끝 -->
</body>
</html>
